{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Product : {{index (index .Data "product") "name"}}</p>
                <p>Amount : NT$ {{index (index .Data "product") "amount"}}</p>
            </div>
        </div>
    </div>
{{end}}
